:root {
    --purple-hsl: 255, 60%, 60%;
    --overlay-blurple: hsla(var(--purple-hsl), 0.2);
}

:root[data-theme='light'] {
    --purple-hsl: 255, 85%, 65%;
}

[data-has-hero] .page {
    background-color: #f2f2f2;
    background-image: url('./85A1CC9B-11B7-453C-8462-07A71ECCEC1E.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    /* Light theme */
    @media (prefers-color-scheme: light) {
        background-image: url('./FA6F8B38-B4A5-4A10-880A-310EB08A1DB3.jpeg');
    } 
}

[data-has-hero] header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
    filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}
